[Desktop Entry]
Version=1.0
Name=War Thunder
Exec=env __GL_SHARPEN_ENABLE=1 __GL_SHARPEN_VALUE=100 ENABLE_VKBASALT=1 OBS_VKCAPTURE=1 strangle -p -1 -f 139 /home/justcausewhynot/Games/WarThunder/launcher
Terminal=false
Type=Application
Icon=/home/justcausewhynot/Games/WarThunder/launcher.ico
